.*.swp
*.db
*.stats
build/
*.pyc
node_modules
debian/files
debian/*.log
debian/*.substvars
debian/analytics/
debian/pinger/
debian/snmpcollector/
debian/dhmon-common/
debian/*.debhelper
debian/tmp
.coverage
